# **Python Data Classes**

In Python , the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. it automatically generates several special methods, such as **init** , **repr** , and **eq** , based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [1]:
# This is how we define the classes.
class Person:
    def __init__(self , name , age ):
        self.name=name
        self.age=age

person1=Person('kunal',17)

 we dont have to do all that if we use Python Data Classes.

In [4]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age:int
    profession:str

# thats it our class is created

In [5]:
# just taking an example my age is not 17 , XD
person1=Person('kunal',17,'AI AND DATA SCIENCE')

In [6]:
person1

Person(name='kunal', age=17, profession='AI AND DATA SCIENCE')

The @dataclass decorator automatically generates the following methods for you:

1. **init**():initializes the object and assigns the provided values to the attributes.
2. **repr**(): provides a string representation of the object
3. **eq**(): implements equality comparison b/w two objects of the class based on their attributes

In [7]:
@dataclass
class Person:
    name:str
    age:int
    profession:str='AI'

person1=Person('kunal',17,'AI')

In [8]:
person1

Person(name='kunal', age=17, profession='AI')

In [9]:
# we can also overwrite the init variables 

person1.profession='CyberSecurity'

In [12]:
## Iimmutable class

@dataclass	
class Point:
    x:int
    y:int


point=Point(3,4)

In [13]:
point

Point(x=3, y=4)

In [14]:
# thats all good till the above cell but ,  now there is a another property in data class.

## Iimmutable class

@dataclass(frozen=True)
class Point:
    x:int
    y:int


point=Point(3,4)

In [15]:
point.x=45

# object is frozen , means whenever we try to create a class by using frozen class where i return frozen = true , ones an object is initalize the values cannot change, when i say valyes mean the attributes cannot changes , this is very powerful thing

FrozenInstanceError: cannot assign to field 'x'

In [19]:
## Inhertiance 

@dataclass
class Person:
    name:str
    age:int

@dataclass
# here we are inheritng the person class , means our parent class is person and child class is employee 
class Employee(Person):
    employee_id:str
    department:str

person=Person("kunal",17)

employee=Employee('krish',31,'123','AI')

In [20]:
print(employee) # look we are able to see the all values over here .

Employee(name='krish', age=31, employee_id='123', department='AI')

In [22]:
## nested data class 


@dataclass
class Address:
    street:str
    city:str
    zip_code:str

@dataclass
class Person:
    name:str
    age:str
    # here we are calling the Address class over here . data class inside data class , we are calling a data class inside a data class , this is called nested data class .
    address:Address # this variable will be a datatype of this kind means address

address=Address('123 diamond street ', 'Banglore','560000')
person=Person('krish',31,address)

In [25]:
person.address

Address(street='123 diamond street ', city='Banglore', zip_code='560000')

In [26]:
person.address.street

'123 diamond street '

### **THATS ALL !!! SEE YOU GUYS IN NEXT COURSE , KEEP LEARNING !!! , HAVE A GREAT DAY/NIGHT. :)**