### As a Data Scienctist , you must have strong command on python

### What are the ZIP function ?

- you are able to iterate through multiple iterators
- it is an iterator so we can use for loop etc
- we can use it in multiple features and data pre process and feature enginerring

In [9]:
lst1=['krish','kunal','david']
lst2=['a','b','c']

In [20]:
for i in lst1:
    print(i)

krish
kunal
david

In [21]:
output=zip(lst1,lst2)

In [6]:
output

In [7]:
list(output)

[('krish', 'a'), ('kunal', 'b'), ('david', 'c')]

In [8]:
### zip object is an iterator 
next(output)

# why this message , because we already iterated through all of elements. 

# so just again executing the for loop and creating an obj

StopIteration:

In [13]:
### zip object is an iterator  

### here you can see next is iterating through all of the iterators . 


next(output)

('kunal', 'b')

In [19]:
# what we have in output is tuples in which you know there is 2 values in each tuple.
# for reading those both values we will use i and j instead of using only i because there is two valuse in each tuples

for i,j in output:
    print(i,j)

krish a
kunal b
david c

In [23]:
# what if we have 3 lists instead of 2 lists . lets cread 3rd one 

lst1=['krish','kunal','david']
lst2=['a','b','c']
lst3=[1,2,3]

In [25]:
output=zip(lst1,lst2,lst3)
for i,j,k in output:
    print(i,j,k)

krish a 1
kunal b 2
david c 3

In [28]:
# what if we dont have equal number of elemetns in each list then what would happen. 

# what if we have 3 lists instead of 2 lists . lets cread 3rd one 

# what would happen now ? 

# nothing will happen , it will like see ooh , there is int 9 at 4th positon in the lst1 so it will and check like lets see if there is any element in positon 4 in other lst2 and lst3 and it says nah  , there is nothing so it will just ignore the number 9 and there is no impace of it  

#it will just ignore the 9 because there is nothing at 4th position in the lst2 and lst3 to iterate so 9 would just get ignore 

lst1=['krish','kunal','david', 9 ]
lst2=['a','b','c']
lst3=[1,2,3]

In [29]:
output=zip(lst1,lst2,lst3)
for i,j,k in output:
    print(i,j,k)

krish a 1
kunal b 2
david c 3

In [30]:
# now lets create a empty zip object 

list(zip())

[]

In [ ]:
# we can also combine dict inside our zip functionality

In [32]:
dict1 = {'name':'kunal','lst_name':'Saini','age':17}
dict2 = {'name':'david','lst_name':'melon','age':25}

In [40]:
# if we dont use the .items() , it will give us an entire dictionary which is not going to be handy for us so thats we are trying to the keys and values in a tuples format . we are using it so that we can combine this  inside the zip itself.
dictionary=zip(dict1.items(),dict2.items())

In [41]:
dict1

{'name': 'kunal', 'lst_name': 'Saini', 'age': 17}

In [42]:
for (i,j),(i2,j2) in dictionary:
    print(i,j)
    print(i2,j2)

name kunal
name david
lst_name Saini
lst_name melon
age 17
age 25